* {
  margin: 0;
  padding: 0;
}

body {
  width: 1280px;
  height: 800px;
  overflow: hidden;
}

#map {
  width: 1280px;
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  z-index: -10;
}

nav {
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 5;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle .checkbox {
  color: #232323;
  transition: color 0.3s ease;
  font-size: 25px;
  padding: 5px 20px;
  display: flex;
}

#menuToggle .checkbox label {
  padding-left: 20px;
}

#menuToggle .checkbox #school::before {
  background-color: black;
}

#menuToggle .checkbox #foodAndDrinks::before {
  background-color: red;
}

#menuToggle .checkbox #travel::before {
  background-color: #4a89f3;
}

#menuToggle .checkbox #stores::before {
  background-color: #33a908;
}

#menuToggle .checkbox #tourism::before {
  background-color: #a800fc;
}

#menuToggle .checkbox #activities::before {
  background-color: #fc00a4;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#menuToggle #openMenu {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle #openMenu:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle #openMenu:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle #openMenu:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  height: 800px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border-right: 1px solid black;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle #openMenu:checked ~ ul {
  transform: none;
}

.weatherCard {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 250px;
  border-radius: 27px;
}

#weatherCardImg {
  margin-left: 60px;
  margin-top: 30px;
  width: 130px;
}

.weatherCard h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

button {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -115px;
  
  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 25px;
  height: 25px;
  transform: rotate(-45deg);
}

button::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #fff;
}

button:hover {
  cursor: pointer;
  animation: fadeIn 0.5s;
  animation-fill-mode: both;
}

.school { 
  border: 4px solid black;
}

.school::after {
  background-color: black;
}

.foodAndDrinks { 
  border: 4px solid red;
}

.foodAndDrinks::after {
  background-color: red;
}

.travel { 
  border: 4px solid #4a89f3;
}

.travel::after {
  background-color: #4a89f3;
}

.stores { 
  border: 4px solid #33a908;
}

.stores::after {
  background-color: #33a908;
}

.activities { 
  border: 4px solid #fc00a4;
}

.activities::after {
  background-color: #fc00a4;
}

.tourism { 
  border: 4px solid #a800fc;
}

.tourism::after {
  background-color: #a800fc;
}

#locatie-1 {
  top: 40px;
  left: 610px;
}

#locatie-2 {
  top: 10px;
  left: 630px;
}

#locatie-3 {
  top: 275px;
  left: 280px;
}

#locatie-4 {
  top: 340px;
  left: 450px;
}

#locatie-5 {
  top: 260px;
  left: 400px;
}

#locatie-6 {
  top: 240px;
  left: 660px;
}

#locatie-7 {
  top: 600px;
  left: 650px;
}

#locatie-8 {
  top: 425px;
  left: 740px;
}

#locatie-9 {
  top: 395px;
  left: 634px;
}

#locatie-10 {
  top: 600px;
  left: 710px;
}

#locatie-11 {
  top: 650px;
  left: 620px;
}

#locatie-12 {
  top: 460px;
  left: 694px;
}

#locatie-13 {
  top: 300px;
  left: 590px;
}

#locatie-14 {
  top: 330px;
  left: 600px;
}

#locatie-15 {
  top: 490px;
  left: 680px;
}

#locatie-16 {
  top: 370px;
  left: 590px;
}

#locatie-17 {
  top: 430px;
  left: 930px;
}

#locatie-18 {
  top: 420px;
  left: 1010px;
}

#locatie-19 {
  top: 515px;
  left: 540px;
}

#locatie-20 {
  top: 490px;
  left: 330px;
}

#locatie-21 {
  top: 490px;
  left: 555px;
}

@keyframes fadeIn {
  to {
    background-color: rgba(0, 0, 0, 0.377);
  }
}

#infoCard {
  position: relative;
  z-index: 5;
  background-color: white;
  margin: 70px 440px;
  border-radius: 20px;
  border: 4px solid rgb(198, 198, 198);
  display: none;
}

#infoCard #closeButton {
  position: absolute; 
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#infoCard img {
  z-index: 4;
  width: 393px;
  object-fit: contain;
  border-top-right-radius: 16px;
  border-top-left-radius: 16  px;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

#infoCard #beschrijvingContainer {
  padding: 0 40px 40px 40px;
  text-align: center;
}

